<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

 <font color="blue">
        <center>
            <h1>INSTITUTO TECNOLÓGICO SUPERIOR DE LA SIERRA NORTE DE PUEBLA</h1>


        </center>
    </font>

    <font color="blue">
        <center>
            <h2>INGENIERÍA INFORMÁTICA</h2>
        </center>
    </font>

    <fieldset>
       <p style = "font-family:cursive;">            
        <label>Alumno:Juventino Carmona Peralta.</label>
        <br>
        <label>Materia: Desarrollo web avanzado.</label>
        <br>
        <label>Practica: A2.5 Formulario Web con Bootstrap</label>
        <br>
        <label>Fecha: 11/03/2022</label>
         </p>
    </fieldset>
</body>
</html>